* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Work Sans;
  color: #fff;
}

:root {
  --main-background: #4b4b4b;
  --main-color: #18dcff;
  --button-color: #1e1e1e;
}

.container {
  padding: 10px;
  background: var(--main-background);
  width: 100%;
  height: 100vh;
}

.container .main-container .intro h1::before {
  content: "About ";
  color: var(--main-color);
}
.container .main-container {
  height: 100vh;
  width: 30%;
  position: relative;
}

.container .main-container .upload-pic {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  margin-top: 230px;
  margin-left: 30px;
}

.container .main-container .upload-pic i {
  position: absolute;
  left: 39px;
  top: 270px;
  font-size: 80px;
  color: #18dcff;
}

.container .main-container .upload-pic h2 {
  position: absolute;
  top: 380px;
}

.container .main-container .upload-pic button {
  position: absolute;
  top: 420px;
  left: 55px;
  padding: 10px;
  color: var(--main-color);
  background-color: var(--button-color);
  border: none;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 0 5px 5px var(--button-color);
}

.container .main-container .upload-pic button:hover {
  background-color: #fff;
}

.container .profile-container {
  width: 70%;
  height: 100vh;
  position: absolute;
  right: 10px;
  top: 2px;
}

.container .profile-container form {
  margin-top: 80px;
}

.container .profile-container form .first-template {
  display: flex;
  gap: 60px;
}

.container .profile-container form .first-template .user-name h2::before {
  content: "First ";
  color: var(--main-color);
}

.container .profile-container form .first-template .user-name input {
  height: 40px;
  width: 390px;
  padding-left: 10px;
  margin-top: 10px;
}

.container .profile-container form .first-template .user-last-name h2::before {
  content: "Last ";
  color: var(--main-color);
}

.container .profile-container form .first-template .user-last-name input {
  height: 40px;
  width: 390px;
  padding-left: 10px;
  margin-top: 10px;
}

.container .profile-container form .second-template {
  margin-top: 60px;
  display: flex;
  gap: 60px;
}

.container .profile-container form .second-template .user-email h2::before {
  content: "E-";
  color: var(--main-color);
}

.container .profile-container form .second-template .user-email input {
  height: 40px;
  width: 390px;
  padding-left: 10px;
  margin-top: 10px;
}

.container .profile-container form .second-template .user-number h2::before {
  content: "Phone ";
  color: var(--main-color);
}

.container .profile-container form .second-template .user-number input {
  height: 40px;
  width: 390px;
  padding-left: 10px;
  margin-top: 10px;
}

.container .profile-container form .third-template {
  margin-top: 60px;
  display: flex;
  gap: 60px;
}

.container .profile-container form .third-template .user-company h2::before {
  content: "Com";
  color: var(--main-color);
}

.container .profile-container form .third-template .user-company input {
  height: 40px;
  width: 390px;
  padding-left: 10px;
  margin-top: 10px;
}

.container
  .profile-container
  form
  .third-template
  .user-designation
  h2::before {
  content: "Desi";
  color: var(--main-color);
}

.container .profile-container form .third-template .user-designation input {
  height: 40px;
  width: 390px;
  padding-left: 10px;
  margin-top: 10px;
}

.container .profile-container form .fouth-template {
  margin-top: 60px;
}

.container .profile-container form .fouth-template h2::before {
  content: "B";
  color: var(--main-color);
}

.container .profile-container form .fouth-template input {
  height: 80px;
  width: 850px;
  padding-left: 10px;
  margin-top: 10px;
}

.container .profile-container form .submit-class {
  position: absolute;
  left: 36%;
  margin-top: 70px;
  color: var(--main-color);
  padding: 15px;
  background-color: var(--button-color);
  outline: none;
  border: none;
  box-shadow: 0 0 5px 5px var(--button-color);
  border-radius: 20px;
}

.container .main-container .upload-pic.active:hover::before {
  opacity: 1;
}
